#map-container {
    width: 100%; /* 지도 너비 */
    height: 400px; /* 기본 지도 높이 */
    min-height: 300px; /* 최소 높이 설정 */
}

@media screen and (max-width: 768px) {
    #map-container {
        height: 300px; /* 모바일에서는 300px로 조정 */
    }
}
